#active-chat-name-container {
    display: flex;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;    
}
#active-chat-name {
    font-size: 2.5em;

}
#active-chat-portrait {
    max-width: 86px;
    border-radius: 100%;
    border: 2px solid $sd-turquoise;
}

#active-chat-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 15vh;

    background-color: $space-black;
    position: sticky;
    top: 0;
    z-index: 1;
}

.active-chat-feed-balloon {
    border: 2px solid rgb(0, 80, 72);
    box-shadow: 5px 5px 0 black;
    margin: 1vh;
    padding: 1vh;
    background-color: $active-chat-feed-balloon-color;
    position: relative;   
}

.white-text {
    color: $sd-light-turquoise;
    font-weight: 300;
}

.active-chat-feed {
    margin-top: 20vh;
    max-height: 80vh;
    min-height: 80vh;
}

.active-chat-back-button {
    float: right;
    margin: 1vh;
}