#active-chat-portrait {
    max-width: 86px;
    border-radius: 100%;
}

.active-chat-feed {}

.active-chat-feed-baloon {
    border: 2px solid black;
    margin: 1vh;
    padding: 1vh;
    background-color: $sun-orange;
}