#root-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 768px;
    height: 100svh;
    
}

#game-window {
    flex-grow: 1;
    background-color: $game-window-color;
    border: 1vw solid $game-window-border-color;
    overflow: auto;
}

#window-border {}