
// ------------------------------------------------------- COLORS --------------------------------
$sd-veronica : #AC00FF; 
$sd-deep-pink : #F03B90; 
$sd-imperial-red : #F34B4F; 
$sd-purpureus : #AE58BF; 
$sd-chrysler-blue : #5300CF; 
$sd-marian-blue : #2B43A2; 
$sd-bice-blue : #3570A3; 
$sd-midnight-green : #09373F; 
$sd-aquamarine : #84FEBB; 
$sd-turquoise : #51CCBB;

$window-blue: #4D6CBE;
$window-dark-blue: #414e72;
$window-light-blue: #829adc;
$title-pink: #FF0187;
$sun-orange: #FFB441;
$space-blue: #1a2442;


// ---------------------------------------------------- BREAKPOINTS ------------------------------

$breakMobile:  'max-width: 768px';
$breakDesktop:  'min-width: 769px';
